@import '~bootstrap/scss/bootstrap';

//import variables
@import'./variables/variables.scss';

//general
body {
    background-color: $dark;
    font-family: $open-sans;
}

#app {
    height: 100vh;
}

.navbar {
    height: 10vh;
    background-color: $white;
}

.navbar-nav {
    li {

        border-bottom: 2px solid transparent;

        &:hover {
            color: $light-green !important;
            border-bottom: 2px solid $light-green;
            transition: 300ms linear;
    }
    }
}

#index-guest {
    height: calc(100vh - 10vh);

    h1 {
        font-size: 3rem;
        font-weight: bold;
    }
}

.text-my-white {
    color: $white;
}

.text-my-dark {
    color: $dark;
}

.text-my-green {
    color: $light-green;
}

.my-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-btn {
    width: max-content;
    padding: 10px;
    border: 1px solid transparent;
    background-color: $light-green;

    &:hover {
        background-color: $dark;
        color: $light-green;
        border: 1px solid $light-green;
        transition: 200ms linear;
    }

    a {
        color: $dark;
        text-decoration: none;

        &:hover {
            color: $light-green;
            transition: 200ms linear;
        }
    }
}

.my-lineheight {
    line-height: 3rem;
}

//header

.container-img-logo {
    width: 5rem;
}

// index admin

#index-admin{
    // background-color: $white;
    // color: $dark;

    a {
        text-decoration: none;
    }

    th {
        color: $light-green;

    }

    i {
        color: $white;

        &:hover {
            color: light-green;
            transition: 300ms linear;
        }
    }
}
