// palette colori

$dark: rgb(30, 30, 30);
$light-green: rgb(86, 251, 183);
$light-green2: rgba(86, 251, 182, 0.582);
$box-1: rgb(39, 98, 78);
$box-2: rgb(99, 90, 45);
$white: rgb(250, 247, 239);

//font
$open-sans: 'Open Sans', sans-serif;
